@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EDE8D8;
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/Background-block-light.PNG?raw=true');
    background-repeat: round;
}

.header{
    width: 100%;
    height:20vh;
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/Background-block-dark.PNG?raw=true');
    background-repeat: round;
    box-shadow: 0px 5px 40px 15px #000;
    position: fixed; 
    top:0;
}

#header{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:1fr;
    grid-gap: 5rem;
}

.header-img{
    margin-top: 1rem;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-img{
    height: 100%;
    transform: rotate(11deg);
    
}

.header-img-dancing-anime{
    animation: dancing 1.5s linear infinite alternate;  
}


#musicIcon{
    /* position: absolute; */
    /* left: 50px; */
    opacity: 0;
    transform: rotate(-45deg);
    height: 25px;
}

.musicIcon-oudMusic-anime {
    animation: oudMusic 1.5s linear normal infinite;
    animation-delay: 0.5s;
}

#musicIcon2{
    /* position: absolute; */
    /* left: 50px; */
    opacity: 0;
    transform: rotate(45deg);
    height: 25px;
}

.musicIcon2-oudMusic-anime{
    animation: oudMusic 1.5s linear normal infinite;
    animation-delay: 2.5s;
}

h1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 3rem;
    color: #474140;
}

#nav-bar{
    margin-top: 1rem;
    height: 29%;
    position: sticky;
    top: 0;
}

#nav-bar ul {
    height: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    width: 20%;
    height: 100%;
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/Background-block-dark.PNG?raw=true');
    background-repeat: repeat;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:  5px 5px 10px #d5d1c2,
    -5px -5px 10px #ffffee;

}

ul li:hover{
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/Background-block-light.PNG?raw=true');
    background-repeat: repeat;
    box-shadow:  inset 5px 5px 10px #d5d1c2,
    inset -5px -5px 10px #ffffee;
}

.top-nav a.icon{
    display: none;
}



a{
    text-decoration: none;
    font-family: 'Lobster';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    color: #474140;
    width: 80%;
    height: 80%;
    /* border: 1px solid red; */
}

.icon {
    margin-top: 7%;
    width: 15%;
    /* margin-left: 5%; */
    height: 50%;
    /* font-size: 100px; */
}

.icon i{
    /* margin-top: 50%; */
    width: 100%;
    /* margin-left: 5%; */
    height: 100%;
    font-size: 30px;

}

.gapCreated{
    height: 20vh;

}

#hero-banner{
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heor-intro{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    margin-left: 5rem;
}

.call-to-action{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;

}

.call-to-action a{
    width: 40%;
    height: 30%;
    border-radius: 50px;
}

.call-to-action button{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: #f0f0f0;
    font-size: 1.1rem;
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/palisander.jpg?raw=true');
    cursor: pointer;
    border:none;
    box-shadow:   5px 5px 10px #27130f,
    -5px -5px 10px #9b4d3d;
}

.call-to-action button:hover {
    box-shadow:  inset 5px 5px 10px #27130f,
    inset -5px -5px 10px #9b4d3d;
}

.hero-img{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img{
    height: 100%;
    opacity: 0;
    animation: entrance 1s ease-in forwards;
    animation-delay: 3s;
    animation-play-state: paused running paused;
}

.container section{
    margin: 3rem auto;

}

#About{
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.about{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 2rem;
    color: #474140;

}

h2{
    margin-top: 35vh;
    margin-bottom:2rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 11%;
    font-family: 'Lobster';
    box-shadow:  5px 5px 10px #d5d1c2,
    -5px -5px 10px #ffffee;
    
}

.about-us{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    gap: 5rem;
}

.about-intro{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img{
    height: 100%;
    border-radius: 50%;
}

#Instruments{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


.Images{
    width: 94%;
    margin-left:5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 4rem;
}

.Images blockquote{
    width: 20% !important;
    height: 10% !important;

}

.Videos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.Videos div{
    border-radius: 50%;
    padding: 1rem;
    margin-top: 5rem;
    box-shadow:  20px 20px 16px #a1a1a1,
                -20px -20px 16px #ffffff, inset 20px 20px 16px #a1a1a1,
            inset -20px -20px 16px #ffffff;
}

.video{
    border-radius: 50%;
}

#Testimonials{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.customer-testimonials{
    width: 94%;
    margin:0 5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 4rem;
}

#ContactUS{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

form {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

fieldset{
    margin-bottom: 1rem;
}

#personalInfo, #productField, #communication, #messageArea{
    width: 80%;
    padding: 1rem;
}

label{
    margin-left:3rem;
    margin-bottom: 2rem;
}

#personalInfo input{
    display: block;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:3rem;
    width: 50%;
    height: 3rem;
    padding: 1rem;
}

#productField p{
    margin-top: 3rem;
    margin-bottom: 1rem;

}

.wood-selection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#communication label{
    height: 50%;
    text-align: center;
}

.wood-selection label img{
    vertical-align: bottom;
}

.wood-selection label img:hover{
    transform: scale(11, 11);
    cursor: pointer;
}

textarea{
    border-radius: 11px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 90%;
}

#submit {
    width: 20%;
    padding: 1rem;
    margin: 3rem;
    color: #f0f0f0;
    font-size: 1.1rem;
    border-radius: 50px;
    background-image: url('https://github.com/AhmedEFRMElwazery/ElwazeryOud/blob/main/resources/image/palisander.jpg?raw=true');
    cursor: pointer;
    border:none;
    box-shadow:   5px 5px 10px #27130f,
    -5px -5px 10px #9b4d3d;
}

.x-icon-font{
    font-family: 'Tahoma' !important;
    font-style: 'normal' !important;
}

#submit:hover{
    box-shadow:  inset 5px 5px 10px #27130f,
    inset -5px -5px 10px #9b4d3d;
}

footer{
    text-align: center;
    margin: 3rem 0;
}

footer a{
    text-align: center;
    font-family: Tahoma;
    font-size: 1rem;
    display: unset;
}

footer a:hover{
    color: #0d0d;
}

#musicPlayer{
    display: hidden;
}




/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
.central-image{
    /* border:1px solid red; */
    margin-top: 5vh;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.thank-you-message{
    /* border:1px solid red; */
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.thank-you-message p{
    text-align: center;
    font-family: 'Lobster';
    font-size: 1.9rem;
    margin: 0 1rem;
    color: #791D23;
}

@keyframes dancing {
    0% {
        transform: rotate(11deg);
    }

    100%{
        transform: rotate(-11deg);
    }
}

@keyframes oudMusic {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: rotate(45deg);
        transform: translateY(-70px);
    }
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px){
    a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1130px){
    a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1000px){
    button, input{
        font-size: 0.7rem !important;
    }

    h1{
        font-size: 2rem;
        text-align: center;
    }

    a{
        font-size: 1rem;
    }
    .call-to-action{
        flex-direction: column;
    }

    .call-to-action a{
        width: 100%;
    }

    .call-to-action a button{
        font-size: 16px !important;
        /* font-weight: bold; */
    }

    .hero-img img{
        height: 70%;
    }

    #About{
        flex-direction: column;
    }

    .about-us{
        flex-direction: column-reverse;
        gap: unset;
    }

    .about-intro{
        margin: 0;
        padding: 0;
        width: 37%;
    }

    .about-img{
        margin: 0;
        padding: 0;
        width: 50%;
    }
    .about-img img{
        width: 100%;
        height: auto;
    }

    .Images{
        grid-template-columns: 80%;
    }

    .Images blockquote{
        margin: 0 auto;
    }

    .customer-testimonials{
        grid-template-columns: 80%;
    }

    .customer-testimonials blockquote{
        margin: 0 auto;
    }

    #form{
        width: 100%;
        font-size: 16px;
    }

    .wood-selection{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30% 30%;
    }

    #submit{
        font-family: 'lobster';
        width: 50%;
        height: 4rem !important;
        font-size: 28px !important;
        font-weight: bold;
    }

    .thank-you-message p{
        font-size: 1.6rem;
    }
    
  }

  @media only screen and (max-width: 800px){
    .top-nav ul, .top-nav ul li {display: none !important;}
    .top-nav a.icon {
      float: right;
      display: block;
    }
  }

  @media only screen and (max-width: 800px) {
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .top-nav.responsive ul {
      position: absoulte;
      top: 50% !important;
      left: 0;
      float: none;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 85%;
      height: 100% !important;
      z-index: 100;
      text-align: left !important;
    }
    .top-nav.responsive ul li{
      border-radius: 50%;
      float: none;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 85%;
      height: 20% !important;
      z-index: 100;
      text-align: left !important;

    }
  }

  @media only screen and (max-width: 700px){
    #nav-bar{
        width: 95%;
    }
    #hero-banner{
        width: 100%;
        flex-direction: column-reverse;
    }

    .heor-intro{
        margin: 0;
        width: 100%;
    }

    button, input{
        font-size: 0.7rem !important;
    }

    h1{
        font-size: 2rem;
        text-align: center;
    }

    a{
        font-size: 0.8rem;
    }
    .call-to-action{
        flex-direction: row;
    }

    .call-to-action a{
        width: 45%;
        height: 3.5rem;
    }

    .call-to-action a button{
        font-size: 14px !important;
    }

    .hero-img img{
        width: 100%;
        height: auto;
    }

    #About{
        flex-direction: column;
    }

    .about-us{
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        gap: unset;
    }

    .about-intro{
        width: 100%;
        height: 30%;
        padding: 0;
        margin: 0;
    }

    .about-img{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;        
    }
    .about-img img{
        width: auto;
        height: 100%;
    }

    .Images{
        grid-template-columns: 80%;
    }

    .Images blockquote{
        margin: 0 auto;
    }

    .customer-testimonials{
        grid-template-columns: 80%;
    }

    .customer-testimonials blockquote{
        margin: 0 auto;
    }

    .wood-selection{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30% 30%;
    }

    .thank-you-message p{
        font-size: 1.3rem;
    }
  }
@media screen and (max-width: 600px){
    .icon{
        margin-top:17%;
    }
}

@media screen and (max-width: 500px){
    #nav-bar{
        width:70%;
    }
    .icon{
        margin-top:17%;
    }
}
